/*problems: brains misalign when window shrinks*/;

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

body {
	font-family: 'Londrina Solid', cursive;
}

h1{
	font-family: 'Londrina Shadow', cursive;
	font-size: 4em;
	text-align: center;
	margin-bottom: 5px;
}
h2 {
	margin-top: 5px;
	text-align: center;


}
#main-column{
	width: 80%;
	float:left;
	height: 400px;
}

.nav-bar {
	
	clear:both;
	height: 150px;
}

img {
	display: inline-block;
	width: 5%;
	margin: 7%;
	margin-bottom: 5px;
	margin-top:5px;
}

#first-brain{
	margin-left:70px;
}

#last-brain{
	margin-right: 0px;
}


ul {
	padding-left: 0;
	margin-left: 5px;
	margin-bottom: 0;
}

li {
	font-family: 'Londrina Solid', cursive;
	display: inline-block;
	/*why doesn't 20% size work?*/
	width: 7%;
	height: 40px;
	margin-left: 7%;
	margin-right:5%;
	padding-top: 20px;
	background-color: grey;
	text-align: center;
	border-radius: 200%;
	font-size: 10px;

	
}

#red{
	/* sanguine*/
	background-color: #F76F6F;
	margin-left: 40px;
	margin-right: 40px;
}

#yellow{
	background-color: #fff380;
}

#green{
	/*darkseagreen*/
	background-color: #8FBC8F;
}

#blue{
	/*powder blue*/
	background-color: #B0E0E6;
}

#violet{
	background-color: #d8bfd8;
}


#first-hand{
	margin-left: 20px;
}

#right-side-bar{
	width:19%;
	height:300px;
	padding-top: 20px;
	float: right;
	
}
#right-side-bar img{

	height: 200px;
	width: auto;
	border: 3px black solid;
}
#about {
	width: 80%;
	height: 1000px;
	float: left;
	clear: both;
}

.mural{
	height:200px;
	background-attachment: fixed;
	background-size: 75%;
}
#about-author-mural{

	background-image: url("../images/Murals/flourish.jpg");
}

#about-author {
	height: 200px;
	background-color: pink;
}

#about-artist-mural{
	background-image: url("../images/Murals/combray.jpg");

}

#about-artist {
	height: 200px;
	background-color: pink;
}

#neuroscience-of-smell-mural{
	background-image: url("../images/Murals/stairs.jpg");
}

#neuroscience-of-smell{
	height: 200px;
	background-color: pink;
}
#first-chapter-mural{
	background-image: url("../images/Murals/hawthorns.jpg");
}

#first-chapter{
	height: 200px;
	background-color: pink;
}

#events-mural{
	background-image: url("../images/Murals/asparagus.jpg");
}

#events{
	height: 200px;
	background-color: pink;
}