/*problems: brains misalign when window shrinks*/;

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
html{
	
}
body {
	font-family: 'Londrina Solid', cursive;
	background: black;
	
}
header{
	width: 100%;
	min-height: 200px;
	background-color: black;
}

h1{
	font-family: 'Libre Baskerville', serif;
	font-size: 4em;
	text-align: center;
	margin:0;
	float: left;
	min-height: 100px;
	clear: both;
	width: 100%;
	color: #ededf3;
	padding: 10px 10px 5px 10px;

}
h2 {
	font-family: 'Libre Baskerville', serif;
	min-height: 30px;
	width: 100%;
	margin-top: 5px;
	text-align: center;
	clear: both;
	float: left;
	padding-bottom: 10px;
	margin:0;
	color: #ededf3;
	background-color: black;

}

h3{
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	min-height: 30px;
	width: 100%;
	margin-top: 5px;
	text-align: center;
	clear: both;
	float: left;
	padding-bottom: 10px;
	margin:0;
	color: #ededf3;
	background-color: black;

}

h4{
	font-family: 'Libre Baskerville', serif;
	font-size: .8em;
	min-height: 30px;
	width: 100%;
	margin-top: 5px;
	text-align: center;
	clear: both;
	float: left;
	padding-bottom: 10px;
	margin:0;
	color: #ededf3;
	background-color: black;
}

#left-side-bar{
	width:19%;
	float:left;
	background-color: black;
	min-height: 6000px;
	border-right: 8.5px solid rgba(163, 197, 180, .7);
	position: relative;
}

	#big-nose{
		width: 7%;
		height: auto;
		position: fixed;
		left:5%;
		top:38%;
	}
	#mug{
		width: 15%;
		height: auto;
		position: fixed;
		left:1.5%;
		top:70%;
	}
	

	#brain {
		position: fixed;
		width: 12%;
		height: auto;
		top:12%;
		left: 6%;
		z-index: 0;
	}



#main-column{
	width: 60%;
	float:left;
	min-height: 400px;
	position: relative;
	
}

/*Why does the formatting work better without height?*/
	nav {
		position: relative;
		clear:both;
		width: 100%;
		float: left;
		min-height: 100px;
		margin-right: 0;
		padding-top: 30px;
		background: black;
		background-attachment: fixed;
		background-size: 75%;
		}

		.nav-fixed{
			top: 0;
			right: 19.5%; 
			position: fixed;
			width: 61%;
			z-index: 10;
			border-bottom: 8.5px solid rgba(163, 197, 180, .7);

		}

		.nav-column{
			position: relative;
			float:left;
			width: 13%;
			min-height: 100px;
			background: none;
			margin-right: 1%;
			padding: 5px;


		}


		.nav-column a {
			text-decoration: none;
			color: black;
			font-size: .8em;
		}

		#zero-nav-column{
			margin-left: 3%;
		}


		.hand{
			display: none;
			width: 50px;
			position: absolute;
			top: 50%;
		}






		.nav-link{
			position: absolute;
			width: 90%;
			height: 45px;
			text-align: center;
			background-color: #A5C5B2;
			text-transform: uppercase;
			padding-top: 5px;
			
			border-radius: 10px;
			box-shadow: inset 0 -3px 0 #70ab60;


		}

		#event-box {
			padding-top: 10px;
			height: 40px;
		}




	#right-side-bar{
		width:19%;
		min-height: 7000px;
		background: white;
		padding-top: 20px;
		position: relative;
		float: right;
		color:black;
		background-color: black;
		border-left: 8.5px solid rgba(163, 197, 180, .7);



	}

		/*fix image on screen but have background cover the mural part*/



		#right-side-bar img{
			width: 15%;
			height: auto;
			border: 3px black solid;
			position: fixed;
			right: 2%;

		}

		#right-caption{
			font-size: 1em;
			width: 15%;
			word-wrap: break-word;
			position: fixed;
			top: 250px;
			color: white;
			text-align: left;
			padding-left: 30px;
		}

		#barry{
			width:30%;
			height: auto;
		}

		#hancock{
			width:30%;
			height: auto;
		}

		#neuron {
			width:30%;
			height: auto;
		}

		

		#right-side-bar #paypal{
		
			position: fixed;
			width: 5%;
			top: 300px;
			right: 13%;
		}

		#right-side-bar #facebook{
			position: fixed;
			width: 5%;
			top: 400px;
		}
		#right-side-bar #fb-like{
			font-size: .8em;
			width: 8%;
			position: fixed;
			right: 10%;
			top: 410px;
			color: white;
		}
		
		.hidden{
			display: none;
		}

		.show{
			display:inline-block;
		}
	#about {
		width: 60%;
		float: left;
		background: none;
		font-weight: normal;
		font-family: 'Open Sans', sans-serif;
	}

		.about-block{
			width: 102%;
			min-height: 100px;
			background-color: white;
			padding: 10px;
		}

		.about-text{
			background: white;
			width: 95%;
			min-height: 100px;
			margin: 0;
			padding:10px;
		}

		.about-header{
			background: white;
			color: black;
		}


		/*I used a pseudo element to allow for the links to position correctly after a nav bar click*/
		.mural{
			width: 102%;
			height:400px;
			background-attachment: fixed;
			background-size: 75%;
			border-top: 8.5px solid rgba(163, 197, 180, .7);
			border-bottom: 8.5px solid rgba(163, 197, 180, .7);
		}
		#top-mural{
			height: 100px;
			background-image: url("../images/Murals/combray.jpg");
			background-attachment: fixed;
			background-size: 75%;
			background-position: 0px -40px;
		}
		#about-mural{

			background-image: url("../images/Murals/flourish.jpg");
			background-attachment: fixed;
			background-size: 75%;
			background-position: center;
		}

		#project-sum-mural{
			
			background-image: url("../images/Murals/stairs.jpg");
			background-attachment: fixed;
			background-size: 75%;
			background-position: center;
		}




		#about-author-mural {
			background-image: url("../images/Murals/hawthorns.jpg");	
			background-attachment: 	fixed;
			background-size: 75%;
			background-position: center;
		}


		#about-artist a{
			margin-left: 20%;
		}


		#about-artist-mural {
			background-image: url("../images/Murals/combray.jpg");	
			background-attachment: 	fixed;
			background-size: 75%;
			background-position: center;
		}

		#neuroscience-of-smell-mural{
			background-image: url("../images/Murals/asparagus.jpg");
			background-attachment: 	fixed;
			background-size: 1000px;
			background-position: center;

		}

		#neuroscience-of-smell{
			min-height: 200px;
		}
		#first-chapter-mural{
			background-image: url("../images/Murals/dreams.jpg");
			background-attachment: 	fixed;
			background-size: 1000px;
			background-position: center;
		}

		#first-chapter{
			min-height: 500px;
		}


		#events{
			min-height: 200px;
		}





/*keyframe that moves the hand up and then wiggles to imitate scratching the link*/
@keyframes scratch{
   

	100% {top: 30%;} 
	50% {left: 0%;}
	55% {left: 30%;}
	60% {left: 0%;}
   	65% {left: 30%;}
   	70% {left: 0;}
   	75% {left: 30%;}
   	80% {left: 0;}
   	85% {left: 30%;}
   
   
   
}
@-webkit-keyframes scratch {
   

	100% {top: 30%;} 
	50% {left: 0%;}
	55% {left: 30%;}
	60% {left: 0%;}
   	65% {left: 30%;}
   	70% {left: 0;}
   	75% {left: 30%;}
   	80% {left: 0;}
   	85% {left: 30%;}
   
}

@-moz-keyframes scratch {
     
	
	100% {top: 30%;} 
	50% {left: 0%;}
	55% {left: 30%;}
	60% {left: 0%;}
   	65% {left: 30%;}
   	70% {left: 0;}
   	75% {left: 30%;}
   	80% {left: 0;}
   	85% {left: 30%;}
   
}



/*key frames for the smells to go up into the nose*/
#smell-line{ 
		/*at first, I tried to hide a white tilda behind the cup, but on a page resize, it showed up.  
		I fixed it by putting the color: white tag in the animateSniff class*/
		font-size: 2em;
		-webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    transform: rotate(90deg);
		position: fixed;
		top: 80%;
		left: 4%;
		z-index: 0;
		
	}



@keyframes sniff{
 
	
	40%{opacity: 0;}
   	50%{opacity: 1;}
   	60% {top: 70%;}
   	70% {top: 60%;}
   	80% {top: 55%;}
   	100% {opacity:0;}
	
}

@-webkit-keyframes sniff {
	

	40%{opacity: 0;}
   	50%{opacity: 1;}
	60% {top: 70%;}
   	70% {top: 60%;}
   	80% {top: 55%;}
   	100% {opacity:0;}
}
@-moz-keyframes sniff {
	

	40%{opacity: 0;}
   	50%{opacity: 1;}
   		60% {top: 70%;}
   	70% {top: 60%;}
   	80% {top: 55%;}
   	100% {opacity:0;}
}

.animateScratch {
	display: inline-block;
	animation: scratch ease-in-out 1s 1;

}
.animateSniff {
	
	color: white;
	animation-delay: .5s;
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	animation: sniff ease-in-out 2s 1;
}

#first-chapter{ 
	width: 100%;
 }
#sample-chapter{
	width: 90%;
	min-height: 1000px;
	left: 10px;

}
