/*problems: brains misalign when window shrinks*/;

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

body {
	font-family: 'Londrina Solid', cursive;
}

h1{
	font-family: 'Londrina Shadow', cursive;
	font-size: 70px;
	text-align: center;
	margin:0;
	
	clear: both;
	width: 100%
}
h2 {

	margin-top: 5px;
	text-align: center;
	clear: both;


}
#main-column{
	width: 80%;
	float:left;
	height: 400px;
	clear: both;
}

/*Why does the formatting work better without height?*/
.nav-bar {
	position: relative;
	clear:both;
	
	margin-right: 0;

}

.brains img {

	float: left;
	width: 5%;
	margin: 7%;
	margin-bottom: 5px;
	margin-top:5px;
}

#first-brain{
	margin-left: 10%;
}

#second-brain{
	margin-left: 6.5%;
}

#third-brain{
	margin-left: 6%;
}

#fourth-brain{
	margin-left: 7%;
}

#last-brain{
	margin-left: 6%;
	margin-right: 5%;
}



.noses img {
	
	float: left;
	width: 5%;
	margin: 7.5%;
	margin-bottom: 5px;
	margin-top:5px;
}

#first-nose{
	margin-left: 7%;
}

#second-nose{
	margin-left: 6%;
}

#third-nose{
	margin-left: 6%; 
	margin-right:6%;
}

#fourth-nose{
	margin-right: 6%;
}

#last-nose{
	margin-right: 0;
}

.hands img {

	float: left;
	width: 5%;
	margin: 0 7% 0 7%;
	margin-bottom: 5px;
	
}

ul {
	padding-left: 0;
	margin-left: 5px;
	margin-bottom: 0;
}

li {
	font-family: 'Londrina Solid', cursive;
	float: left;
	list-style-type: none;
	/*why doesn't 20% size work?*/
	width: 18%;
	
	margin-top: 5px;
	margin-bottom: 20px;
	height: 30px;
	
	border:	solid black 2px;
	background-color: grey;
	text-align: center;
	
	font-size: 10px;

	
}

#red{
	/* sanguine*/
	padding-top: 10px;
	background-color: #F76F6F;
	
}

#yellow{
	padding-top: 10px;
	background-color: #fff380;
}

#green{
	padding-top: 10px;
	/*darkseagreen*/
	background-color: #8FBC8F;
}

#blue{
	padding-top: 10px;
	/*powder blue*/
	background-color: #B0E0E6;
}

#violet{
	background-color: #d8bfd8;
	height: 40px;
}


#first-hand{
	margin-left: 20px;
}

#right-side-bar{
	width:20%;
	height:300px;
	padding-top: 20px;
	position: relative;
	float: right;
	
}
#right-side-bar img{
	width: 15%;
	height: auto;

	border: 3px black solid;
	position: fixed;
	right: 2%;
	
}
#about {
	width: 80%;
	height: 500px;
	float: left;
	clear: both;
}



.mural{
	height:200px;
	background-attachment: fixed;
	background-size: 75%;
}
#about-author-mural{

	background-image: url("../images/Murals/flourish.jpg");
}

#about-author {
	height: 200px;
	background-color: pink;
}

#about-artist-mural{
	background-image: url("../images/Murals/combray.jpg");

}

#about-artist {
	height: 200px;
	background-color: pink;
}

#neuroscience-of-smell-mural{
	background-image: url("../images/Murals/stairs.jpg");
}

#neuroscience-of-smell{
	height: 200px;
	background-color: pink;
}
#first-chapter-mural{
	background-image: url("../images/Murals/hawthorns.jpg");
}

#first-chapter{
	height: 200px;
	background-color: pink;
}

#events-mural{
	background-image: url("../images/Murals/asparagus.jpg");
}

#events{
	height: 200px;
	background-color: pink;
}